package pages

templ PowerBI() {
    <iframe title="RFM v3" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=897ca406-3e42-4136-bac4-e3c51152f7a7&autoAuth=true&ctid=885040cb-97b2-4c91-a83c-1b8f6fc6cc68" frameborder="0" allowFullScreen="true"></iframe>
}